<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Monocle Guide to..." %></title>
    <link rel="stylesheet" href="https://use.typekit.net/lnc2fsd.css">
    <meta property="og:title" content="Monocle Guide to..." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://monocleguide.netlify.com" />
    <meta property="og:image" content="https://raw.githubusercontent.com/jovove/monocleguide/master/source/images/og-monocleguide.png" />

    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag "site" %>
</html>
